.inputWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .label {
        color: var(--primary-color);
        margin-right: 10px;
    }

    .input {
        border-radius: 5px;
        border: none;
        color: var(--primary-color);
        padding: 5px 10px;
        background: var(--bg-input);

        &:focus {
            outline: 1px solid var(--primary-color);
        }
    }
}
